@using Cr.UI.Data.StateManagement;
@using Faso.Blazor.SpinKit
@inject SpinnerState _spinnerState


@if (IsVisible)
{
    <div style="background-color:#000; height:115vh; width:100%; opacity:0.2; position:absolute; z-index:99999999;"></div>
    <div class="spinner-container">
        <SpinKitCircle />
    </div>
    
}
@code
{
    protected bool IsVisible { get; set; }
    protected override void OnInitialized()
    {
        _spinnerState.OnShow += ShowSpinner;
        _spinnerState.OnHide += HideSpinner;
    }

    public void ShowSpinner()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void HideSpinner()
    {
        IsVisible = false;
        StateHasChanged();
    }
}