/* cookie policy start */

.cookiestrip{display:none !important}
.zbc-main{display:none;position:absolute;bottom:calc(100% + 30px);left:50%;width:560px;background:#fff;color:#000;padding:25px;padding-bottom:0;text-align:left;border-radius:5px;overflow:scroll;max-height:780px;height:100%;top:8%;z-index:9999;position:fixed;bottom:83px;margin-left:-280px;box-sizing:border-box}
.zbc-main.widget-active{left:10px;animation:.5s slideup ease;top:unset;margin-left:0}@keyframes slideup{0%{transform:translate3d(-10px,70px,-20px)}100%{transform:translate3d(0,0,0)}}
.zc-cookiewidget{position:fixed;bottom:5px;width:65px;opacity:0;cursor:pointer;z-index:9999;display:none;left:10px}
.zbc-popup-inner{margin-bottom:25px}
.zbottom-cookie-container{border-top:1px solid #000;font-size:14px;padding:15px 10px;background:#000;position:fixed;z-index:9999 !important;width:100%;bottom:0;color:#fff}
.zbc-inner{max-width:1170px;width:95%;margin:0 auto;z-index:2;position:relative}
.zbc-content{width:65%;display:inline-block;font-size:14px;line-height:1.4}
.zdesc-anchor{display:inline-block}
.zbc-content a{color:#00abfb}
.zbc-cta-container{width:35%;display:inline-block;text-align:center;vertical-align:top;padding-top:5px}
.zbc-cta{color:#83b633;border:1px solid #83b633;padding:6px 14px;box-sizing:border-box;display:inline-block;cursor:pointer;text-transform:uppercase;font-size:12px;font-family:var(--zf-secondary-bold)}
.zbc-cta-container>div{display:inline-block;position:relative}
.zbc-cta-accept{margin-left:10px}
.zbc-main.active{display:block}
.zbc-popup-inner p{font-size:14px;margin:10px 0}
.zbc-desc{display:none}
.zbc-desc a{border-bottom:1px solid #03a9f5}
.zc-type-container{padding:20px 20px 20px 35px;background:#f8f8f8;margin-bottom:20px}
.zbc-heading h5{margin-bottom:0;font-size:16px;line-height:1.6;cursor:pointer}
.zc-overlay{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.4);left:0;top:0;z-index:9999;display:none}
.zbc-popup-container>p{font-size:14px;line-height:1.6;padding:0 10px}
.zbc-cta-se{padding:8px 22px;box-sizing:border-box;display:inline-block;cursor:pointer;background:#03a9f5;color:#fff;font-family:var(--zf-primary-semibold);text-transform:uppercase;font-size:12px}
.zbc-popup-container>h4{font-size:18px;padding:0 10px;margin-bottom:5px}
.zbc-heading{position:relative}
.ctog-container{position:absolute;right:0;top:2px;width:44px;height:20px;display:inline-block;padding:2px 10px;box-sizing:border-box;opacity:.4}
.ctog-container.strictly-text{width:auto;opacity:1;color:#06a7f0;top:0;font-size:15px;right:0;padding-right:0}
.ctog-bg{background:#03a9f5;width:100%;display:inline-block;border-radius:18px;height:100%}
.ctog-pointer{width:20px;height:20px;display:inline-block;border-radius:100%;background:#fff;position:absolute;left:22px;top:0;box-shadow:0 0 7px -2px #7d7d7d;transition:all .3s ease}
.ctog-container.ctog-active{opacity:1;cursor:pointer}
.ctog-no .ctog-pointer{left:0}
.ctog-no .ctog-bg{background:#a7a7a7}
.ctog-pointer::after,.ctog-pointer::before{content:"";position:absolute;left:5px;top:11px;width:5px;height:2px;background:#03a9f5;transform:rotate(45deg);transition:all .3s ease}
.ctog-pointer::before{width:9px;transform:rotate(-45deg);left:7px;top:10px}
.ctog-no .ctog-pointer::after,.ctog-no .ctog-pointer::before{background:#a7a7a7;width:10px;left:50%;top:50%;margin-top:-1px;margin-left:-5px}
.zc-container-close{width:24px;height:24px;display:inline-block;border-radius:100%;background:#fff;position:absolute;right:10px;top:10px;border:1px solid #bfbfbf;transition:all .3s ease;cursor:pointer}
.zc-container-close::after,.zc-container-close::before{background:#bfbfbf;width:12px;left:50%;top:50%;margin-top:0;margin-left:-6px;content:"";position:absolute;transform:rotate(45deg);height:1px;cursor:pointer}
.zc-container-close::before{transform:rotate(-45deg)}
.zbc-heading::after,.zbc-heading::before{content:"";position:absolute;width:12px;height:2px;background:#626262;left:-22px;top:50%;margin-top:-1px;transition:all .5s ease}
.zbc-heading::after{transform:rotate(90deg)}
.widget-img{width: 64px;}
.zc-type-container.active .zbc-heading::after{transform:rotate(0)}@media screen and (max-width:991px){
    .zbc-content{width:100%;text-align:center}
    .zbc-cta-container{width:100%;margin-top:10px}}
@media screen and (max-width:767px){.zc-cookiewidget{bottom:55px}.zbc-main{bottom:130px}
    .zc-cookiewidget{display:none !important}}
@media screen and (max-width:600px){
    .zbc-main{width:90%;margin-left:0;left:5%;padding:15px}}
@media screen and (max-width:480px){
    .zbc-main{width:96%;margin-left:0;left:1%;padding:15px}
    .zbc-cta{font-size:10px}}
.i18n-ar .zbottom-cookie-container-outer *{direction:ltr !important;text-align:left !important}
/* cookie policy end */